.video-overlayer .video-controls .video-pip {
	background-image: url(btn-video-pip.png);
    position: absolute;
    top: -10px;
    left: 90px;
}

.video-overlayer .video-controls .video-fullscreen {
	left: 35px !important;
}

@media (min-width:992px) {
	.video-overlayer .video-controls .video-fullscreen {
	    left: 40px !important;
	    top: -20px !important;
	}

	.video-overlayer .video-controls .video-pip {
		left: 122px !important;
		top: -20px !important;
	}
}
